/*CSS variables section*/
:root {
    background-color: rgba(0, 0, 21, 1);
    --gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}

/*Extra Large screens - Extra large desktops*/
/* .header{ }*/
body{
    display: grid;
}
.main_background {
    background-image: linear-gradient(-60deg, #5283ab 50%, #0c0c0c 50%);
	animation: slide 3s ease-in-out infinite alternate;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -50%;
	right: -50%;
	opacity: 0.5;
	z-index: -1;
}
.layer1 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.layer2 {
	animation-duration: 5s;
}

header:hover a{
    background-color: rgb(0, 81, 255);
}
.header-screen{
    background: linear-gradient(
        300deg, 
        rgba(71,114,152,1) 8%, 
        rgba(20,26,33,1) 8%, 
        rgba(20,26,33,1) 8%, 
        rgba(20,26,33,1) 85%, 
        rgba(0,0,0,1) 85%
    );
}
.heeder-large-screen{
    display: flex !important;
    justify-content: space-evenly !important;
    color:rgb(0, 81, 255);
    font-size: 18px !important;
}
#nav:hover a{
    color: #000015;
}
#navDemo a{
    font-size: 13px !important;
    color: #000015;
    background-color: rgb(0, 81, 255);
}
#navDemo:hover a{
    color: rgb(2, 2, 2);
}
.hero{
    height: 650px;
    background-image: url(assets/img/hatsune_miku_sakura-wallpaper-1280x800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #000015; 
}
.hero-description{
    height: 650px;
    background-color: rgba(0, 0, 21, .7);
    display: flex;
}
.hero-text{
    width:70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
}
.hero-text p{
    color:white;
    width: 50%;
}
.hero-title{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    color:rgb(0, 81, 255);
    text-align: center;
}
.hero-title-name {
    /* padding-top:80px; */
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    color:rgb(0, 81, 255);
    text-align: center;
}
.name {
    color: rgb(0, 81, 255);
}
.name:hover {
    color: #ff02c0;
    text-shadow: 5px 7px 4px rgb(0, 0, 0);
}
.name-1 {
    color: rgb(0, 81, 255);
}
.name-1:hover {
    color: rgb(132, 0, 255);
    text-shadow: 5px 7px 4px rgb(0, 0, 0);
}
.social{
    width:100%;
    margin-top: 30px;
}
.icons{
    font-size: 20px;
    letter-spacing: 5px;
}
.icons:hover{
    color: #3396ff;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: .5 ease;
}
main{
    width:80% !important;
    margin: auto !important;
}
.title{
    color:white;
    font-weight: 600;
    font-size: 40px;
    margin: 50px 0px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 7px 4px blue;
}
.game-logo img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
h3{
    color:white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.games{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    /* background-color:	rgba(0, 0, 47,0.3); */
    justify-content: space-evenly;
}
.game-list{
    margin: 30px;;
    padding: 20px;
    height: 200px;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid gray;
    background: rgba(255, 75, 255, 0.1);
    box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.game-list:hover{
    transform: scale(1.1);
}
.game-list-image:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform .5s ease;
}
.text-game:hover{
    /* color: rgb(77, 228, 255); */
    background: linear-gradient(
    to right, 
    #A6CE37, #ECE71C, #0FC6E6, #F95D44, #816271, #9F1958, #081B6A, #59D7EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100px;
    background-position: center 0%;
    animation: background-slide 25s infinite linear;
    font-weight: bold;
    font-style: italic;
    
}
@keyframes background-slide {
    100% {
      background-position: -1060px;
    }
}

.store{
    margin-top: 50px;
}
.game-store{
    margin-top: 20px !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.game-image{
    width:300px;
    height: 180px;
    
}
.game-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.game-video{
    width: 300px;
    height: 200px;
}
.game-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.game-image:hover, 
.game-store-list img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform .5s ease;
    cursor: progress;
}
.game-video:hover, 
.game-store-list video{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    transition: transform .5s ease;
    cursor: progress;
}
.game-store-list{
    width:300px;
    height: 300px;
     margin: 20px;
    overflow: hidden;
    border-top: none;
        -webkit-box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37), rgba();
    box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
    backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid blueviolet;
    color:white;
    border-radius: 8px;
}
.game-store-list:hover{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-top: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: var(--gradient-shadow);
	background-size: 400%;
	animation: animate 20s linear infinite;
}
video:hover{
    width: 300px;
    height: 300px;
    margin: 0px;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.store-text-description{
    margin-top: 40px;
    /* padding-left:20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #3396ff;
} 
.store-text-description:hover{
    background-color: #030303;
    /* background: linear-gradient(
    to right, 
    #A6CE37, #ECE71C, #0FC6E6, #F95D44, #816271, #9F1958, #081B6A, #59D7EE); */
    font-style: italic;
}
.store-text-description-video{
    margin-top: 20px;
    /* padding-left:20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #3396ff;
} 
.store-text-description-video:hover{
    background-color: #030303;
    /* background: linear-gradient(
    to right, 
    #A6CE37, #ECE71C, #0FC6E6, #F95D44, #816271, #9F1958, #081B6A, #59D7EE); */
    font-style: italic;
}
h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-weight: 700;
}
u::after, u:hover{
    color: #3396ff;
}
.event-hero{
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 75, 255, 0.1);
    justify-content: space-evenly;
    align-items: center;
    padding:50px;
    margin-top: 50px;
    border:1px solid black;
    border-radius: 10px;
}
.event-text{
    width:50%;
}
.event-title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: #88f7f5;
    text-shadow: 9px 9px #313030;
    line-height: 109%;
}
.event-image{
    width: 400px;
    height: 500px;
}
.event-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.event-image:hover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: .5s ease;
    cursor: pointer;
}
.event-text p{
    color: white;
}
.badge{
    background-color: #1bc0c0;
    color: #020202;
    padding: 10px;
    font-weight: bold;
}
.aboutme, .hero-text p{
    text-align: justify;
    width: 100%;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-list{
    margin-top: 15px !important;
    color: white;
}
.footer-screen{
    background: linear-gradient(
        300deg, 
        rgba(71,114,152,1) 15%, 
        rgba(20,26,33,1) 15%, 
        rgba(20,26,33,1) 15%, 
        rgba(20,26,33,1) 92%, 
        rgba(0,0,0,1) 92%
    );
}
h5{
    color:white;
}
span{
    padding-right: 10px;
}
/* .contact-list p{
} */
.address{
    opacity: .9;
        -webkit-transition: transform 400ms;
    transition: transform 400ms;
}
.address:hover,
.address:focus,
.address:active{
    transform: scale(1.1);
        -webkit-transform: scale(1.1);
    transition: .5 ease-in;
}
.email-contact{
    width: 50%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.email-contact,
.email-btn a{
    text-decoration: none;
    background-color: #f44336;
    border-radius: 8px;
}
.email-btn:hover,
.email-contact:hover a{
    background-color: #030303;
    transform: scale(1.2);
        -webkit-transform: scale(1.2);
    transition: .5 ease;
}
a:hover h5{
    color: #3396ff;
    font-weight: bold;
}

/*General CSS and CSS reset*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

/* ____________________________________________________________________*/
/*MEDIA QUERIES*/
/*Large screens - Desktop*/
@media screen and (max-width: 1500px) {
    .hero{
        height: 550px !important;;
        background-image: url(assets/img/hatsune_miku_sakura-wallpaper-1280x800.jpg);
    }
    .hero-description{
        height: 550px
    }
    .hero-title{
        font-size:50px;
        margin-bottom: -20px;
    }
    .hero-title-name{
        font-size: 50px;
    }
    .aboutme, .hero-text p{
        text-align: justify;
        width: 100%;
        font-size: 16px;
        margin-top: 100px;
        margin-bottom: -110px;
    }
    .name{
        position: absolute;
        font-size: 50px;
        margin-top: 70px;
    }
    .name-1{
        position: absolute;
        font-size: 50px;
        margin-top: 70px;
        margin-left: 220px;
    }
    .social{
        width: 100%;
        margin-top: 40px;
    }
    .icons{
        margin-top: 110px;
        margin-bottom: -80px;
        font-size: 35px;
        letter-spacing: 5px;
    }
    .svg{
        width: 35px;
        height: 35px;
    }
    .icons:hover{
        color: #3396ff;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: .5 ease;
    }
}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    main{
        width:100% !important;
        margin: auto !important;
    }    
    .hero-title{
        font-size: 37px;
    }
    .hero-title-name{
        font-size: 37px;
    }
    .aboutme, .hero-text p{
        text-align: justify;
        width: 100%;
    }
    .name{
        position: absolute;
        margin-top: 70px;
    }
    .name-1{
        position: absolute;
        margin-top: 70px;
        margin-left: 170px;
    }
    .aboutme, .hero-text p{
        text-align: justify;
        width: 100%;
        font-size: 14px;
        margin-top: 70px;
        margin-bottom: -40px;
    }
    .social{
        width:100%;
        margin-top: 25px;
        margin-bottom: -50px;
    }
    .icons{
        margin-top: 30px;
    }
    .event-image:hover img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transition: .5s ease;
        cursor: pointer;
    }
}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    .heeder-large-screen{
        display:block !important;
    }
    header a{
        font-size: 14px;
    }
    #navDemo{
        opacity: 1;
    }
    .hero{
        height: 400px !important;
        background-image: url(assets/img/cropped-400-300-676790.jpg);
    }
    .hero-description{
        height: 400px;
        background-color: rgba(0, 0, 21, .7);
    }
    .hero-title{
        font-size: 25px;
        margin-top: -10px;
    }
    .hero-title-name{
        font-size: 25px;
        margin-top: -10px;
    }
    .name{
        position:absolute;
        margin-top: 25px;
    } 
    .name-1{
        position: absolute;
        margin-top: 25px;
        margin-left: 115px;
    }
    .aboutme, .hero-text p{
        text-align: justify;
        width: 100%;
        font-size: 11px;
        margin-top: 60px;
        margin-bottom: -50px;
    }
    .social{
        width:100%;
        margin-top: 5px;
        margin-bottom: -70px;
    }
    .icons{
        margin-top: 40px;
        font-size: 21px;
    }
    .svg{
        width: 23px;
        height: 23px;
    }
    .icons:hover{
        color: #3396ff;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: .5 ease;
    }
    .title{
        text-align: center;
        font-size: 30px;
    }
    .event-text{
        width:80%;
        color: #88f7f5;
    }
    .event-text p{
        font-size: 13px;
    }
    .event-title{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        color: #88f7f5;
    }
    .event-hero{
        width: 80% ;
        margin: auto;
    }
    .event-image{
        width:250px;
        height: 400px;
    }
    .event-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .event-image:hover img{
        width: 110%;
        height: 110%;
        object-fit: contain;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transition: .5s ease;
        cursor: pointer;
    }
    .contact-list{
        width: 300px;
    }
    .contact{
        justify-content: space-around;
    }
    .contact-list p{
        font-size: 14px ;
    }
    h5{
        font-size: 17px;
    }
}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
    .heeder-large-screen{
        display:block !important;
    }
    #navDemo:hover a{
        color: #000015;
    }
    .hero{
        height: 450px !important;
        background-image: url(assets/img/cropped-400-300-676790.jpg);
    }
    .hero-description{
        height: 450px;
        background-color: rgba(0, 0, 21, .7);
    }
    .hero-title{
        font-size: 25px;
	margin-top: -30px;
    }
    .hero-title-name{
        font-size: 25px;
        padding-top: -30px;
    }
    .name{
        position:absolute;
        margin-top: 15px;
    } 
    .name-1{
        position: absolute;
        margin-top: 15px;
        margin-left: 110px;
    }
    .aboutme, .hero-text p{
        text-align: justify;
        width: 100%;
        font-size: 10px;
    }
    .icons{
        margin-top: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .svg{
	margin-top: 30px;
        width: 20px;
        height: 20px;
    }
    .icons:hover{
        color: #3396ff;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: .5 ease;
    }
    .social{
        width:100%;
        margin-top: 20px;
    }
    .title{
        text-align: center;
        font-size: 25px;
    }
    .event-text{
        width:100%;
        color: #88f7f5;
    }
    .event-text p{
        font-size: 13px;
    }
    .event-title{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        color: #88f7f5;
	text-shadow: 9px 9px #313030;
        line-height: 109%;
    }
    .event-hero{
        width: 90% ;
        margin: auto;
    }
    .event-image{
        width:250px;
        height: 400px;
    }
    .event-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .event-image:hover img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transition: .5s ease;
        cursor: pointer;
    }
    .contact-list{
        width: 300px;
        padding:25px;
        border:1px solid rgba(49, 45, 45, 0.5);
        border-radius: 10px;
    }
    .contact-list p{
        font-size: 12px ;
    }
    .address{
	opacity: .9;
    }
    .address{
	transform: scale(1.1);
	    -webkit-transform: scale(1.1);
    }
    h5{
        font-size: 15px;
    }
    /* .badge{ }*/
    p{
        font-size: 12px;
    }
}
